.home {
    padding: 20px;
    margin-block-start: 50px;
    .title {
        color: rgb(255, 255, 255);
        font-size: 46px;
        font-family: PoppinsBold;
        text-align: center;
        margin-block-end: 20px;
    }
    .status-bar {
        .life-points {
        }
        .hints {
        }
    }
    .quiz-container {
    }
}
